<p id="notice"><%= notice %></p>

<div class="pull-right">
  	<%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-default" %>
  	<%= link_to 'New Blog Post', new_blog_post_path, class: 'btn btn-default' %>
	<%= link_to 'Back to Main Page', blog_posts_path, class: "btn btn-default" %>
</div>

<h1><%= @user.blog_title %></h1>
<h4>A blog by <%= @user.name %></h4>

<div class="row">
  <% @user.blog_posts.each do |blog_post| %>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= link_to blog_post.post_title, blog_post %></h3>
        </div>
        <div class="panel-body">
          <p>by <%= link_to blog_post.user.username, user_path(blog_post.user_id) %></p>
          <p><small><em><%= time_ago_in_words(blog_post.created_at) %> ago</em></small></p>

          <p><%= blog_post.post_entry[0..250] %>... <%= link_to "[ READ MORE ]", blog_post %></p>
        </div>
        <div class="panel-footer">
          <%= link_to edit_blog_post_path(blog_post), class: "btn btn-sm btn-default" do %>
			<i class="glyphicon glyphicon-pencil"></i>
		  <% end %>
		  <%= link_to blog_post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default" do %>
			<i class='glyphicon glyphicon-trash'></i>
		  <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>